################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.sqlite
*.db
*.opendb
/.vs
*.json
*.obj
*.exe
*.pdb
/CMakeProject1/out/build/x64-Debug/HashPoint/CMakeFiles/CMakeProject1.dir
*.ilk
